<div class="col-sm-6">
  <h3>Exame Demissional</h3>
  <div ngf-drop="vm.readFile($file)" ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
    ngf-select="vm.readFile($file)" class="col-sm-12 drop-box fs-cursor-pointer fs-txt-center">
    <span class="fluigicon fluigicon-xl fluigicon-upload"></span>
    <h2>Clique ou arraste o arquivo aqui</h2>
  </div>
</div>

<div class="col-sm-6">
  <h3>Carta de Desligamento Assinada</h3>
  <div ngf-drop="vm.readFile($file)" ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
    ngf-select="vm.readFile($file)" class="col-sm-12 drop-box fs-cursor-pointer fs-txt-center">
    <span class="fluigicon fluigicon-xl fluigicon-upload"></span>
    <h2>Clique ou arraste o arquivo aqui</h2>
  </div>
</div>