<input name="Params" type="hidden" id="Params" ng-value="vm.Params | json:0">
<input name="Errors" type="hidden" id="Errors" ng-value="vm.Errors | json:0">

<input name="displaykey" type="hidden" ng-value="">

<textarea name="solicitante" ng-value="vm.Form.solicitante | json:0" hidden></textarea>
<textarea name="superior" ng-value="vm.Form.superior | json:0" hidden></textarea>
<textarea name="funcionario" ng-value="vm.Form.funcionario | json:0" hidden></textarea>

<textarea name="bpUser" ng-value="vm.Form.bpUser | json:0" hidden></textarea>
<input name="dataParecerBP" type="hidden" ng-value="vm.Form.dataParecerBP">
<input name="statusBP" type="hidden" ng-value="vm.Form.statusBP">
<textarea name="observacoesBP" ng-value="vm.Form.observacoesBP" hidden></textarea>

<textarea name="respMedSeg" ng-value="vm.Form.respMedSeg | json:0" hidden></textarea>
<input name="dataParecerMedSeg" type="hidden" ng-value="vm.Form.dataParecerMedSeg">
<input name="statusMedSeg" type="hidden" ng-value="vm.Form.statusMedSeg">
<textarea name="observacoesMedSeg" ng-value="vm.Form.observacoesMedSeg" hidden></textarea>

<textarea name="respRH" ng-value="vm.Form.respRH | json:0" hidden></textarea>
<input name="dataParecerRH" type="hidden" ng-value="vm.Form.dataParecerRH">
<input name="statusRH" type="hidden" ng-value="vm.Form.statusRH">
<textarea name="observacoesRH" ng-value="vm.Form.observacoesRH" hidden></textarea>