<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">
      Utilize esse painel para enviar arquivos auxiliares ou incluir informações sobre o cálculo da rescisão
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <label>Anexos do Cálculo</label>
    <div ngf-drop="vm.readFile($file)" ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
      ngf-select="vm.readFile($file)" class="col-sm-12 drop-box fs-cursor-pointer fs-txt-center">
      <span class="fluigicon fluigicon-xl fluigicon-upload"></span>
      <h2>Clique ou arraste os arquivos aqui</h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Observações</label>
      <textarea name="observacoesCalculoRescisao" class="form-control" ng-model="vm.Form.observacoesCalculoRescisao"
        ng-value="vm.Form.observacoesCalculoRescisao"></textarea>
    </div>
  </div>
</div>