<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">
      Anexe aqui a carta de desligamento assinada. Se necesário inclua informações adicionais através do campo Observações.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <label>Carta de Desligamento Assinada</label>
    <div ngf-drop="vm.readFile($file)" ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
      ngf-select="vm.readFile($file)" class="col-sm-12 drop-box fs-cursor-pointer fs-txt-center">
      <span class="fluigicon fluigicon-xl fluigicon-upload"></span>
      <h2>Clique ou arraste o arquivo aqui</h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Observações</label>
      <textarea name="observacoesCartaDesligamento" class="form-control" ng-model="vm.Form.observacoesCartaDesligamento"
        ng-value="vm.Form.observacoesCartaDesligamento"></textarea>
    </div>
  </div>
</div>