<div class="row">
    <div class="col-sm-3">
        <label class="control-label">Gestor</label>
        <h4>{{vm.Form.solicitanteNome}}</h4>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Superior</label>
        <h4>{{vm.Form.superiorNome}}</h4>
    </div>
    <div class="col-sm-3">
        <label class="control-label">BP</label>
        <h4>{{vm.Form.bpNome}}</h4>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Funcionário</label>
        <h4>{{vm.Form.funcNome}}</h4>
    </div>
</div>