<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">
      Na etapa de aprovação, informe aqui a data do exame demissional. Se necessário inclua informações adicionais no campo Observações.<br>
      Na etapa de anexo, envie o arquivo contendo o exame realizado.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label">Data do Exame Demissional</label>
      <input type="text" fluig-date-mask name="dataExameDemissional" class="form-control input-lg"
        ng-model="vm.Form.dataExameDemissional" ng-value="vm.Form.dataExameDemissional">
    </div>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="control-label">Observações</label>
      <textarea name="observacoesExameDemissional" class="form-control" ng-model="vm.Form.observacoesExameDemissional"
        ng-value="vm.Form.observacoesExameDemissional"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Anexo - Exame Demissional</label>
    <div ngf-drop="vm.readFile($file)" ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
      ngf-select="vm.readFile($file)" class="col-sm-12 drop-box fs-cursor-pointer fs-txt-center">
      <span class="fluigicon fluigicon-xl fluigicon-upload"></span>
      <h2>Clique ou arraste o arquivo aqui</h2>
    </div>
  </div>
</div>