<div class="row">
    <div class="col-sm-2">
        <h4>Solicitação</h4>
        <p>{{vm.Form.processInstanceId}}</p>

    </div>
    <div class="col-sm-2">
        <h4>Data da Solicitação</h4>
        <p>{{vm.Form.data | date}}</p>
    </div>

    <div class="col-sm-2">
        <h4>Status</h4>
        <p>{{vm.Form.status}}</p>
    </div>
    <div class="col-sm-3">
        <h4>Gestor</h4>
        <p>{{vm.Form.solicitante}}</p>
    </div>
    <div class="col-sm-3">
        <h4>Superior</h4>
        <p>{{vm.Form.superior}}</p>
    </div>
</div>
