<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">
            Ocorreram erros ao tentar integrar a solicitação com o RM. Verifique e se necessário devolva a solicitação
            para o RH<br>
            <i>Erro: FUNCIONÁRIO POSSUI ESTABILIDADE E NÃO PODE SER DESLIGADO</i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Observações</label>
            <textarea name="observacoesCorrigirErros" class="form-control"
                ng-model="vm.Form.observacoesCorrigirErros" ng-value="vm.Form.observacoesCorrigirErros"></textarea>
        </div>
    </div>
</div>