<div class="row">

    <div class="col-sm-3">
        <label class="control-label">Data do Desligamento</label>
        <input type="text" class="form-control input-lg" fluig-date-mask ng-model="vm.Form.dataDesligto">
    </div>
    <div class="col-sm-2">
        <label class="control-label">Dias de Aviso</label>
        <input type="text" class="form-control input-lg" fluig-number-mask="0" ng-model="vm.Form.diasAviso">
    </div>
    <div class="col-sm-3">
        <label class="control-label">Tipo da Demissão</label>
        <input type="text" class="form-control input-lg" fluig-autocomplete ng-model="vm.Form.tipoDemissao"
            display-key="codigo" dataset="vm.TiposDemissao">
    </div>
    <div class="col-sm-4">
        <label class="control-label">Motivo da Demissão</label>
        <input type="text" class="form-control input-lg" fluig-autocomplete ng-model="vm.Form.motivoDemissao"
            display-key="codigo" dataset="vm.MotivosDemissao">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label class="control-label">Justificativa</label>
        <textarea name="justificativa" id="justificativa" cols="30" rows="2" ng-model="vm.Form.justificativa"
            class="form-control"></textarea>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <label class="control-label">Gerar Substituição</label>
        <input type="checkbox" fluig-switch ng-model="vm.Form.gerarSubstituicao" data-on-text="SIM" data-off-text="NÃO"
            data-on-color="success">
    </div>
</div>